.content-right {
    position: absolute;
    top: 85%;
    right: 4%;
}

.content-right .search-input {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    outline: none;
}

.content-right .search-input input {
    padding: 5px 5px;
    padding-left: 30px;
}

.content-right .search-input input:focus {
    outline: none !important;
}

.content-right .search-input img {
    position: absolute;
    left: 0;
    width: 20px;
    padding: 8px 0;
    margin-left: 5px;
}

.messenger-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.messenger-icon img {
    width: 60px;
}

.content-right .fanpage {
    margin: 25px 0 30px;
    margin-left: -5px;
}

.content-right .fanpage:hover {
    cursor: pointer;
}